// Typography
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1 {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(45deg, #ee94df, #68c6fb);
  background-size: 120%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// General
body {
  background: linear-gradient(100deg, #d7aebd, #93bcd2 115%);
  color: #ffffff;
}

.grape-logo {
  width: 30px;
  fill: white;
}

// Login Portal Layout

.wrapperLogin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #1f1d36;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0, 0, 0, 0.53);
  border-radius: 20px;
}

.cardMed {
  @include card;
  width: 350px;
  height: 500px;
}

.cardFull {
  max-width: 900px;
  @include card;
  align-items: flex-start;
  margin: 0 auto;
  border-radius: 0;
  width: 80%;
  gap: 1rem;

  h4 {
    margin: 0.5rem 0;
  }
}

.flexHorizontal {
  display: flex;
  flex-wrap: wrap;
  & > * {
    width: 50%;
  }
  & > a {
    text-align: right;
  }
}

a {
  width: 100%;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #e4b0e0;

  &:hover {
    color: #f8e9f7;
  }
}

.inlineBlock {
  display: block;
}

form {
  text-align: center;

  &.addJob {
    padding: 50px 0 75px 0;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    label {
      margin-bottom: 0.4rem;
      padding-left: 0.5rem;
    }
    input {
      text-align: left;
      width: calc(100% - 1.5rem);
    }
    textarea {
      font-size: 1rem;
      font-weight: 400;
      padding: 0.75rem;
      color: #ffffff;
      width: calc(100% - 1.5rem);
      border: none;
      outline: none;
      resize: none;
      background-color: #3f3351;
      border-radius: 10px;
    }
    textarea:focus {
      box-shadow: 0px 0px 0px 1px #e09cdc inset;
    }
    button {
      margin-top: 50px;
      align-self: center;
    }
    .invalidInput {
      border: 1px solid #b40e0e;
      background-color: #ff9191;
    }
    .invalidInput:focus {
      background-color: #3f3351;
      border: 1px solid #e09cdc;
    }
  }
}

form > * {
  margin-bottom: 1rem;
}

.errorText {
  margin-top: -12px;
  margin-bottom: 0;
  text-align: right;
  // padding-left: 1rem;
  color: #f72d2d;
}

@mixin button {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border: none;
  background: linear-gradient(90deg, #6d3862 0%, #9ab4c2);
  background-size: 200%;
  border-radius: 10px;
  color: #ffffff;

  &:hover,
  &:focus {
    outline: none;
    animation: btn-animation 0.25s ease-in-out forwards;
  }
  &:active {
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    pointer-events: none;
    background: none;
    background-color: #383838;
    color: rgb(204, 204, 204);
  }
}

.btn {
  @include button;
  width: 80%;
  margin-bottom: 10px;
}

.filterList {
  margin-top: 10px;
  margin-left: 2.5%;
}

.filterBtn {
  @include button;
  background: none;
  background-color: #864879;
  margin-right: 5px;
  padding: 0.25rem 0.5rem;
}

@keyframes btn-animation {
  0% {
    color: #ffffff;
    background-position: top left;
  }
  100% {
    color: #46103f;
    background-position: top right;
  }
}

input[type='text'] {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  text-align: center;
  border: none;
  width: calc(80% - 24px);
  border-radius: 10px;
  background-color: #3f3351;
  padding: 0.75rem;
  color: #ffffff;
}

input[type='text']:focus,
input[type='text']:focus {
  outline-style: none;
  border: 1px solid #e09cdc;
  margin-top: -1px;
  margin-bottom: 15px;
}

.nav {
  // position: fixed;
  background-color: #1f1d36;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.65);
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 0;
  }

  ul {
    width: 78%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    text-align: right;
  }
}

// Nav

.navBtn {
  margin: 0;
  @include button;
  padding: 5px 25px;
}

.navList {
  max-width: 880px;
  & > ul.navBtnList {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
    text-align: right;
  }
}

// employer dash styling

.companyInfo {
  display: block;
  margin: 0 auto;
  width: 95%;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.topShadow {
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.65),
    0px 2px 3px rgba(0, 0, 0, 0.65);
}

.postings {
  width: 100%;
  & > a {
    text-align: right;
  }
}

// Main Board

.jobBoard {
  padding: 30px 0;
}

.jobCard {
  padding: 0.75rem 1rem;

  .cityText {
    font-size: 0.75rem;
  }

  h4,
  h5 {
    margin: 0.5rem 0;
  }

  p {
    margin: 5px 0;
  }

  &:hover {
    background-color: #3f3351;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.36);
    transform: scale(1.01);
    transition: all 0.2s ease-in;
  }
}

// submission page

.submitted {
  margin: 0 auto;
  padding: 50px 0;
  width: 60%;
  text-align: center;
}

.success {
  i {
    font-size: 2.5rem;
    color: rgb(50, 204, 50);
  }
}

.failed {
  i {
    font-size: 2.5rem;
    color: rgb(204, 50, 50);
  }
}

// loading

.loading {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  i {
    font-size: 3rem;
  }
}
